@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500;700&display=swap');

@font-face {
	font-family: "Metropolis";
	src: url("Metropolis-Regular.otf");
}
@font-face {
	font-family: "MetropolisBold";
	src: url("Metropolis-Bold.otf");
	font-weight;
}

.mediaViewInfo {
	--web-view-name: main;
	--web-view-id: main;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: main;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#main {
	position: absolute;
	width: 1920px;
	height: 5392px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: main;
	--web-view-id: main;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
@keyframes  {


}
#Rectangle_23_j {
	fill: url(#Rectangle_23_j);
}
.Rectangle_23_j {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 2352px;
	left: 0px;
	top: 1680px;
}
#Group_19 {
	position: absolute;
	width: 1920px;
	height: 887px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#rak-reflex-Cyklist-i-NY-smart- {
	position: absolute;
	width: 1920px;
	height: 887px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_7_n {
	fill: url(#Rectangle_7_n);
}
.Rectangle_7_n {
	position: absolute;
	overflow: visible;
	width: 992px;
	height: 768px;
	left: 0px;
	top: 112px;
}
#Group_3 {
	position: absolute;
	width: 864px;
	height: 318px;
	left: 128px;
	top: 338px;
	overflow: visible;
}
#cycletlogo {
	position: absolute;
	width: 352px;
	height: 124px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#the_safer_smarter_way_to_bike {
	left: 0px;
	top: 137px;
	position: absolute;
	overflow: visible;
	width: 865px;
	height: 36px;
	text-align: left;
	font-family: Metropolis;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(255,255,255,1);
}
#Color_Button {
	position: absolute;
	width: 224px;
	height: 64px;
	left: 0px;
	top: 254px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: buy.html;
	cursor: pointer;
}
#Color_Button_Large {
	position: absolute;
	width: 224px;
	height: 64px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_5_u {
	fill: url(#Rectangle_5_u);
}
.Rectangle_5_u {
	filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 299px;
	height: 139px;
	left: 0px;
	top: 0px;
}
#buy_now {
	left: 0px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 225px;
	height: 26px;
	text-align: center;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
#Blank_Button {
	position: absolute;
	width: 224px;
	height: 64px;
	left: 272px;
	top: 254px;
	overflow: visible;
}
#Rectangle_6 {
	fill: rgba(255,255,255,1);
}
.Rectangle_6 {
	filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 299px;
	height: 139px;
	left: 0px;
	top: 0px;
}
#learn_more {
	left: 0px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 225px;
	height: 26px;
	text-align: center;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#Rectangle_10_ {
	fill: url(#Rectangle_10_);
}
.Rectangle_10_ {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 16px;
	left: 0px;
	top: 887px;
}
#Tab {
	position: absolute;
	width: 332px;
	height: 332px;
	left: 152px;
	top: 804px;
	overflow: visible;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 24px;
}
#Rectangle_8 {
	fill: rgba(255,255,255,1);
}
.Rectangle_8 {
	filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.388));
	position: absolute;
	overflow: visible;
	width: 422px;
	height: 422px;
	left: 0px;
	top: 0px;
}
#sunicon {
	position: absolute;
	width: 82px;
	height: 82px;
	left: 125px;
	top: 46px;
	overflow: visible;
}
#bright_light {
	left: 6px;
	top: 165px;
	position: absolute;
	overflow: visible;
	width: 321px;
	height: 32px;
	text-align: center;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#With_a_front_and_back_light_Cy {
	left: 22px;
	top: 221px;
	position: absolute;
	overflow: visible;
	width: 289px;
	height: 92px;
	text-align: center;
	font-family: Metropolis;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Tab_ {
	position: absolute;
	width: 332px;
	height: 332px;
	left: 580px;
	top: 804px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: visible;
	border-radius: 24px;
}
#Rectangle_8_ {
	fill: rgba(255,255,255,1);
}
.Rectangle_8_ {
	filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.388));
	position: absolute;
	overflow: visible;
	width: 422px;
	height: 422px;
	left: 0px;
	top: 0px;
}
#screenicon {
	position: absolute;
	width: 82px;
	height: 82px;
	left: 125px;
	top: 46px;
	overflow: visible;
}
#info_display {
	left: 6px;
	top: 165px;
	position: absolute;
	overflow: visible;
	width: 321px;
	height: 32px;
	text-align: center;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#A_screen_on_the_top_of_Cyclet_ {
	left: 22px;
	top: 221px;
	position: absolute;
	overflow: visible;
	width: 289px;
	height: 68px;
	text-align: center;
	font-family: Metropolis;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Tab_bb {
	position: absolute;
	width: 332px;
	height: 332px;
	left: 1008px;
	top: 804px;
	overflow: visible;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 24px;
}
#Rectangle_8_bc {
	fill: rgba(255,255,255,1);
}
.Rectangle_8_bc {
	filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.388));
	position: absolute;
	overflow: visible;
	width: 422px;
	height: 422px;
	left: 0px;
	top: 0px;
}
#turnicon {
	position: absolute;
	width: 82px;
	height: 82px;
	left: 125px;
	top: 46px;
	overflow: visible;
}
#turn_signal {
	left: 6px;
	top: 165px;
	position: absolute;
	overflow: visible;
	width: 321px;
	height: 32px;
	text-align: center;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Cyclet_is_incorporated_with_an {
	left: 22px;
	top: 221px;
	position: absolute;
	overflow: visible;
	width: 289px;
	height: 92px;
	text-align: center;
	font-family: Metropolis;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Tab_bg {
	position: absolute;
	width: 332px;
	height: 332px;
	left: 1436px;
	top: 804px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: visible;
	border-radius: 24px;
}
#Rectangle_8_bh {
	fill: rgba(255,255,255,1);
}
.Rectangle_8_bh {
	filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.388));
	position: absolute;
	overflow: visible;
	width: 422px;
	height: 422px;
	left: 0px;
	top: 0px;
}
#gpsicon {
	position: absolute;
	width: 82px;
	height: 82px;
	left: 125px;
	top: 46px;
	overflow: visible;
}
#accurate_gps {
	left: 6px;
	top: 165px;
	position: absolute;
	overflow: visible;
	width: 321px;
	height: 32px;
	text-align: center;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Inside_is_a_GPS_giving_you_you {
	left: 22px;
	top: 221px;
	position: absolute;
	overflow: visible;
	width: 289px;
	height: 92px;
	text-align: center;
	font-family: Metropolis;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#what_is_cyclet {
	position: absolute;
	width: 1920px;
	height: 432px;
	left: 0px;
	top: 1200px;
	overflow: visible;
}
#Rectangle_13 {
	fill: transparent;
}
.Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 432px;
	left: 0px;
	top: 0px;
}
#Group_5 {
	position: absolute;
	width: 832px;
	height: 250px;
	left: 128px;
	top: 99px;
	overflow: visible;
}
#what_is_cyclet_bo {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 609px;
	height: 64px;
	text-align: left;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	color: rgba(21,121,255,1);
}
#Component_7__1 {
	position: absolute;
	width: 832px;
	height: 132px;
	left: 0px;
	top: 118px;
	overflow: visible;
}
#Cyclet_is_a_multi_function_bik {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 833px;
	height: 122px;
	text-align: left;
	font-family: Metropolis;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#IMG_2763-removebg-preview {
	position: absolute;
	width: 832px;
	height: 555px;
	left: 960px;
	top: -50px;
	overflow: visible;
}
#features {
	left: 656px;
	top: 1728px;
	position: absolute;
	overflow: visible;
	width: 609px;
	height: 64px;
	text-align: center;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	color: rgba(255,255,255,1);
}
#Group_15 {
	position: absolute;
	width: 1792px;
	height: 887px;
	left: 64px;
	top: 1856px;
	overflow: visible;
}
#Rectangle_14 {
	fill: rgba(255,255,255,1);
}
.Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 1792px;
	height: 880px;
	left: 0px;
	top: 0px;
}
#cyclet {
	position: absolute;
	width: 832px;
	height: 315px;
	left: 64px;
	top: 332px;
	overflow: visible;
}
#front_module {
	left: 64px;
	top: 95px;
	position: absolute;
	overflow: visible;
	width: 357px;
	white-space: nowrap;
	text-align: left;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	color: rgba(74,199,97,1);
}
#Group_21 {
	position: absolute;
	width: 720px;
	height: 672px;
	left: 1008px;
	top: 104px;
	overflow: visible;
}
#Group_6 {
	position: absolute;
	width: 720px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#front {
	position: absolute;
	width: 96px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#front_light {
	left: 128px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: left;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Cyclets_bright_front_light_all {
	left: 128px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 593px;
	height: 44px;
	text-align: left;
	font-family: Metropolis;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Group_6_b {
	position: absolute;
	width: 720px;
	height: 96px;
	left: 0px;
	top: 144px;
	overflow: visible;
}
#turn {
	position: absolute;
	width: 96px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#turn_signal_b {
	left: 128px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	text-align: left;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Cyclet_is_incorporated_with_an_b {
	left: 128px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 593px;
	height: 44px;
	text-align: left;
	font-family: Metropolis;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Group_6_ca {
	position: absolute;
	width: 720px;
	height: 96px;
	left: 0px;
	top: 288px;
	overflow: visible;
}
#gps {
	position: absolute;
	width: 96px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#accurate_gps_b {
	left: 128px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 184px;
	white-space: nowrap;
	text-align: left;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Included_is_a_GPS_giving_you_y {
	left: 128px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 593px;
	height: 44px;
	text-align: left;
	font-family: Metropolis;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Group_6_cb {
	position: absolute;
	width: 720px;
	height: 96px;
	left: 0px;
	top: 432px;
	overflow: visible;
}
#display {
	position: absolute;
	width: 96px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#info_display_cc {
	left: 128px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 161px;
	white-space: nowrap;
	text-align: left;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#A_screen_on_the_top_of_Cyclet__cd {
	left: 128px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 593px;
	height: 44px;
	text-align: left;
	font-family: Metropolis;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Group_6_ce {
	position: absolute;
	width: 720px;
	height: 96px;
	left: 0px;
	top: 576px;
	overflow: visible;
}
#battery {
	position: absolute;
	width: 96px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#long_battery_life {
	left: 128px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 218px;
	white-space: nowrap;
	text-align: left;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Cyclet_has_a_battery_life_of_o {
	left: 128px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 593px;
	height: 44px;
	text-align: left;
	font-family: Metropolis;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Ellipse_6 {
	fill: rgba(255,220,4,1);
}
.Ellipse_6 {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 464px;
	top: 320px;
}
#Ellipse_7 {
	fill: rgba(192,82,222,1);
}
.Ellipse_7 {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 159px;
	top: 437px;
}
#Ellipse_8 {
	fill: rgba(255,161,0,1);
}
.Ellipse_8 {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 272px;
	top: 320px;
}
#Ellipse_9 {
	fill: rgba(10,125,255,1);
}
.Ellipse_9 {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 336px;
	top: 464px;
}
#Ellipse_10 {
	fill: rgba(59,199,92,1);
}
.Ellipse_10 {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 784px;
	top: 576px;
}
#Group_16 {
	position: absolute;
	width: 1792px;
	height: 592px;
	left: 64px;
	top: 2800px;
	overflow: visible;
}
#Rectangle_15 {
	fill: rgba(255,255,255,1);
}
.Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 1792px;
	height: 592px;
	left: 0px;
	top: 0px;
}
#taillight {
	position: absolute;
	width: 832px;
	height: 432px;
	left: 896px;
	top: 160px;
	overflow: visible;
}
#back_module {
	left: 1336px;
	top: 95px;
	position: absolute;
	overflow: visible;
	width: 364px;
	white-space: nowrap;
	text-align: left;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	color: rgba(10,129,255,1);
}
#Group_22 {
	position: absolute;
	width: 720px;
	height: 384px;
	left: 64px;
	top: 104px;
	overflow: visible;
}
#Group_7 {
	position: absolute;
	width: 720px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#back {
	position: absolute;
	width: 96px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#back_light {
	left: 128px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 136px;
	white-space: nowrap;
	text-align: left;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Cyclet_includes_a_back_light_a {
	left: 128px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 593px;
	height: 44px;
	text-align: left;
	font-family: Metropolis;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Group_8 {
	position: absolute;
	width: 720px;
	height: 96px;
	left: 0px;
	top: 144px;
	overflow: visible;
}
#turn_cx {
	position: absolute;
	width: 96px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#turn_signal_cy {
	left: 128px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	text-align: left;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Cyclets_back_light_also_includ {
	left: 128px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 593px;
	height: 44px;
	text-align: left;
	font-family: Metropolis;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Group_9 {
	position: absolute;
	width: 720px;
	height: 96px;
	left: 0px;
	top: 288px;
	overflow: visible;
}
#viewing {
	position: absolute;
	width: 96px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#wide_viewing_angle {
	left: 128px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 270px;
	white-space: nowrap;
	text-align: left;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Both_the_front_and_back_light_ {
	left: 128px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 593px;
	height: 44px;
	text-align: left;
	font-family: Metropolis;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Ellipse_11 {
	fill: rgba(255,60,8,1);
}
.Ellipse_11 {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 1296px;
	top: 361px;
}
#Ellipse_12 {
	fill: rgba(192,82,222,1);
}
.Ellipse_12 {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 1712px;
	top: 360px;
}
#Ellipse_13 {
	fill: rgba(255,161,0,1);
}
.Ellipse_13 {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 1064px;
	top: 360px;
}
#Group_17 {
	position: absolute;
	width: 1792px;
	height: 512px;
	left: 64px;
	top: 3456px;
	overflow: visible;
}
#Rectangle_16 {
	fill: rgba(255,255,255,1);
}
.Rectangle_16 {
	position: absolute;
	overflow: visible;
	width: 1792px;
	height: 512px;
	left: 0px;
	top: 0px;
}
#turnswitch {
	position: absolute;
	width: 832px;
	height: 240px;
	left: 64px;
	top: 208px;
	overflow: visible;
}
#turn_switch {
	left: 64px;
	top: 95px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	text-align: left;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	color: rgba(255,157,0,1);
}
#Group_23 {
	position: absolute;
	width: 720px;
	height: 240px;
	left: 1008px;
	top: 136px;
	overflow: visible;
}
#Group_10 {
	position: absolute;
	width: 720px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#switch {
	position: absolute;
	width: 96px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#simple_actuation {
	left: 128px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 232px;
	white-space: nowrap;
	text-align: left;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Use_the_two_touch_sensors_on_t {
	left: 128px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 593px;
	height: 44px;
	text-align: left;
	font-family: Metropolis;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Group_11 {
	position: absolute;
	width: 720px;
	height: 96px;
	left: 0px;
	top: 144px;
	overflow: visible;
}
#touch {
	position: absolute;
	width: 96px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#convenient_location {
	left: 128px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 275px;
	white-space: nowrap;
	text-align: left;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Cyclets_turn_signal_switch_is_ {
	left: 128px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 593px;
	height: 44px;
	text-align: left;
	font-family: Metropolis;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Ellipse_19 {
	fill: rgba(10,125,255,1);
}
.Ellipse_19 {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 395px;
	top: 312px;
}
#Ellipse_20 {
	fill: rgba(59,199,92,1);
}
.Ellipse_20 {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 544px;
	top: 240px;
}
#Path_1_dn {
	fill: url(#Path_1_dn);
}
.Path_1_dn {
	overflow: visible;
	position: absolute;
	width: 256px;
	height: 80px;
	left: 641px;
	top: 240px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_14 {
	position: absolute;
	width: 1920px;
	height: 1072px;
	left: 0px;
	top: 4032px;
	overflow: visible;
}
#Group_13 {
	position: absolute;
	width: 1920px;
	height: 1072px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_17 {
	fill: rgba(229,229,229,1);
}
.Rectangle_17 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1072px;
	left: 0px;
	top: 0px;
}
#Group_12 {
	position: absolute;
	width: 608px;
	height: 722px;
	left: 128px;
	top: 176px;
	overflow: visible;
}
#tech_specs {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 609px;
	height: 64px;
	text-align: left;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	color: rgba(0,0,0,1);
}
#for_nerds {
	left: 0px;
	top: 95px;
	position: absolute;
	overflow: visible;
	width: 609px;
	height: 28px;
	text-align: left;
	font-family: Metropolis;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(0,0,0,1);
}
#main_module {
	left: 0px;
	top: 196px;
	position: absolute;
	overflow: visible;
	width: 207px;
	white-space: nowrap;
	text-align: left;
	font-family: Metropolis;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#dimensions_100mm_x_60mm_x_40mm {
	left: 16px;
	top: 254px;
	position: absolute;
	overflow: visible;
	width: 466px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -6px;
	text-align: left;
	font-family: Metropolis;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(0,0,0,1);
}
#back_module_dw {
	left: 0px;
	top: 516px;
	position: absolute;
	overflow: visible;
	width: 205px;
	white-space: nowrap;
	text-align: left;
	font-family: Metropolis;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#dimensions_100mm_x_WONG_led_br {
	left: 16px;
	top: 574px;
	position: absolute;
	overflow: visible;
	width: 371px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -6px;
	text-align: left;
	font-family: Metropolis;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(0,0,0,1);
}
#cyclet_dy {
	position: absolute;
	width: 832px;
	height: 555px;
	left: 960px;
	top: 324px;
	overflow: visible;
}
#Group_18 {
	position: absolute;
	width: 1920px;
	height: 288px;
	left: 0px;
	top: 5104px;
	overflow: visible;
}
#Rectangle_18 {
	fill: rgba(255,255,255,1);
}
.Rectangle_18 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 288px;
	left: 0px;
	top: 0px;
}
#wwwcycletus_copyright_2022_by_ {
	left: 664px;
	top: 170px;
	position: absolute;
	overflow: visible;
	width: 593px;
	height: 70px;
	line-height: 42px;
	margin-top: -7px;
	text-align: center;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(0,0,0,1);
}
#cycletmulti {
	position: absolute;
	/*width: 225px;*/
	height: 80px;
	left: 848px;
	top: 64px;
	overflow: visible;
}
#title_bar {
	position: absolute;
	width: 1920px;
	height: 112px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1 {
	filter: blur(1px);
	fill: rgba(255,255,255,0.85);
}
.Rectangle_1 {
	filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 1995px;
	height: 187px;
	left: 0px;
	top: 0px;
}
#cycletmulti_d {
	position: absolute;
	width: 138px;
	height: 48px;
	left: 64px;
	top: 32px;
	overflow: visible;
}
#Blank_Button_Small {
	position: absolute;
	width: 160px;
	height: 48px;
	left: 1344px;
	top: 32px;
	overflow: visible;
}
#Rectangle_3 {
	fill: transparent;
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 160px;
	height: 48px;
	left: 0px;
	top: 0px;
}
#home {
	left: 0px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 161px;
	height: 24px;
	text-align: center;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#Color_Button_Small {
	position: absolute;
	width: 160px;
	height: 48px;
	left: 1696px;
	top: 32px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: buy.html;
	cursor: pointer;
}
#Rectangle_4_eb {
	fill: url(#Rectangle_4_eb);
}
.Rectangle_4_eb {
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.459));
	position: absolute;
	overflow: visible;
	width: 190px;
	height: 78px;
	left: 0px;
	top: 0px;
}
#buy_now_ec {
	left: 0px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 161px;
	height: 24px;
	text-align: center;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#Blank_Button_Small_ed {
	position: absolute;
	width: 160px;
	height: 48px;
	left: 1520px;
	top: 32px;
	overflow: visible;
}
#Rectangle_3_ee {
	fill: transparent;
}
.Rectangle_3_ee {
	position: absolute;
	overflow: visible;
	width: 160px;
	height: 48px;
	left: 0px;
	top: 0px;
}
#contact {
	left: 0px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 161px;
	height: 24px;
	text-align: center;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
