@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500;700&display=swap');

@font-face {
	font-family: "Metropolis";
	src: url("../Metropolis-Regular.otf");
}

@font-face {
	font-family: "MetropolisBold";
	src: url("../Metropolis-Bold.otf");
}

.mediaViewInfo {
	--web-view-name: iPhone 14 Pro Max – 1;
	--web-view-id: iPhone_14_Pro_Max__1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: iPhone_14_Pro_Max__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#iPhone_14_Pro_Max__1 {
	position: absolute;
	width: 430px;
	height: 1837px;
	background-color: black;
	overflow: hidden;
	--web-view-name: iPhone 14 Pro Max – 1;
	--web-view-id: iPhone_14_Pro_Max__1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Rectangle_24 {
	fill: rgba(0,0,0,1);
}
.Rectangle_24 {
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 762px;
	left: 0px;
	top: 950px;
}
#Mask_Group_1 {
	position: absolute;
	width: 430px;
	height: 957px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_22 {
	fill: rgba(0,0,0,0.702);
}
.Rectangle_22 {
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 534px;
	left: 0px;
	top: 423px;
}
#Rectangle_21_k {
	fill: url(#Rectangle_21_k);
}
.Rectangle_21_k {
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 140px;
	left: 0px;
	top: 283px;
}
#Rectangle_20_m {
	fill: url(#Rectangle_20_m);
}
.Rectangle_20_m {
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 165px;
	left: 0px;
	top: 493px;
}
#cycletlogo {
	position: absolute;
	width: 232px;
	height: 82px;
	left: 99px;
	top: 333px;
	overflow: visible;
}
#the_safer_smarter_way_to_bike {
	left: 71px;
	top: 427px;
	position: absolute;
	overflow: visible;
	width: 289px;
	white-space: nowrap;
	text-align: center;
	font-family: Metropolis;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#whitebutton {
	position: absolute;
	width: 177px;
	height: 43px;
	left: 28px;
	top: 475px;
	overflow: visible;
}
#Rectangle_8 {
	fill: rgba(46,46,46,1);
}
.Rectangle_8 {
	filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 195px;
	height: 61px;
	left: 0px;
	top: 0px;
}
#learn_more {
	left: 36px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 107px;
	height: 14px;
	text-align: center;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#bluebutton {
	position: absolute;
	width: 177px;
	height: 43px;
	left: 225px;
	top: 475px;
	overflow: visible;
}
#Rectangle_9_u {
	fill: url(#Rectangle_9_u);
}
.Rectangle_9_u {
	filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 195px;
	height: 61px;
	left: 0px;
	top: 0px;
}
#buy_now {
	left: 36px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 107px;
	height: 14px;
	text-align: center;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#features {
	left: 172px;
	top: 993px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: center;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#Tab {
	position: absolute;
	width: 374px;
	height: 146px;
	left: 28px;
	top: 1033px;
	overflow: visible;
}
#Rectangle_8_y {
	fill: rgba(46,46,46,1);
}
.Rectangle_8_y {
	filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 392px;
	height: 164px;
	left: 0px;
	top: 0px;
}
#sunicon {
	position: absolute;
	width: 36px;
	height: 36px;
	left: 20px;
	top: 20px;
	overflow: visible;
}
#bright_light {
	left: 77px;
	top: 24px;
	position: absolute;
	overflow: visible;
	width: 161px;
	height: 22px;
	text-align: left;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#With_a_front_and_back_light_Cy {
	left: 21px;
	top: 71px;
	position: absolute;
	overflow: visible;
	width: 337px;
	height: 35px;
	text-align: left;
	font-family: Metropolis;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Tab_ {
	position: absolute;
	width: 374px;
	height: 146px;
	left: 28px;
	top: 1195px;
	overflow: visible;
}
#Rectangle_8_ {
	fill: rgba(46,46,46,1);
}
.Rectangle_8_ {
	filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 392px;
	height: 164px;
	left: 0px;
	top: 0px;
}
#screenicon {
	position: absolute;
	width: 36px;
	height: 36px;
	left: 20px;
	top: 20px;
	overflow: visible;
}
#info_display {
	left: 77px;
	top: 24px;
	position: absolute;
	overflow: visible;
	width: 161px;
	height: 22px;
	text-align: left;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#A_screen_on_the_top_of_Cyclet_ {
	left: 21px;
	top: 71px;
	position: absolute;
	overflow: visible;
	width: 337px;
	height: 35px;
	text-align: left;
	font-family: Metropolis;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Tab_ba {
	position: absolute;
	width: 374px;
	height: 146px;
	left: 28px;
	top: 1357px;
	overflow: visible;
}
#Rectangle_8_ba {
	fill: rgba(46,46,46,1);
}
.Rectangle_8_ba {
	filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 392px;
	height: 164px;
	left: 0px;
	top: 0px;
}
#turnicon {
	position: absolute;
	width: 36px;
	height: 36px;
	left: 20px;
	top: 20px;
	overflow: visible;
}
#turn_signal {
	left: 77px;
	top: 24px;
	position: absolute;
	overflow: visible;
	width: 161px;
	height: 22px;
	text-align: left;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Cyclet_is_incorporated_with_an {
	left: 21px;
	top: 71px;
	position: absolute;
	overflow: visible;
	width: 337px;
	height: 54px;
	text-align: left;
	font-family: Metropolis;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Tab_bc {
	position: absolute;
	width: 374px;
	height: 146px;
	left: 28px;
	top: 1519px;
	overflow: visible;
}
#Rectangle_8_bd {
	fill: rgba(46,46,46,1);
}
.Rectangle_8_bd {
	filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 392px;
	height: 164px;
	left: 0px;
	top: 0px;
}
#gpsicon {
	position: absolute;
	width: 36px;
	height: 36px;
	left: 20px;
	top: 20px;
	overflow: visible;
}
#accurate_gps {
	left: 77px;
	top: 24px;
	position: absolute;
	overflow: visible;
	width: 161px;
	height: 22px;
	text-align: left;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Inside_is_a_GPS_giving_you_you {
	left: 21px;
	top: 71px;
	position: absolute;
	overflow: visible;
	width: 337px;
	height: 54px;
	text-align: left;
	font-family: Metropolis;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Group_1 {
	position: absolute;
	width: 430px;
	height: 125px;
	left: 0px;
	top: 1712px;
	overflow: visible;
}
#Rectangle_18 {
	fill: rgba(46,46,46,1);
}
.Rectangle_18 {
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 125px;
	left: 0px;
	top: 0px;
}
#wwwcycletus_copyright_2022_by_ {
	left: 27px;
	top: 44px;
	position: absolute;
	overflow: visible;
	width: 377px;
	height: 34px;
	line-height: 20px;
	margin-top: -3px;
	text-align: center;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#Group_2 {
	position: absolute;
	width: 374px;
	height: 387px;
	left: 28px;
	top: 554px;
	overflow: visible;
}
#Rectangle_7 {
	fill: rgba(46,46,46,1);
}
.Rectangle_7 {
	filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 392px;
	height: 405px;
	left: 0px;
	top: 0px;
}
#what_is_cyclet {
	left: 109px;
	top: 254px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: center;
	font-family: Kumbh Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#Cyclet_is_a_multi_function_bik {
	left: 16px;
	top: 292px;
	position: absolute;
	overflow: visible;
	width: 343px;
	height: 81px;
	text-align: center;
	font-family: Metropolis;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Rectangle_19 {
	fill: rgba(46,46,46,1);
}
.Rectangle_19 {
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 170px;
	left: 24px;
	top: 26px;
}
#IMG_2763-removebg-preview {
	position: absolute;
	width: 326px;
	height: 210px;
	left: 24px;
	top: 6px;
	overflow: visible;
}
#Ellipse_1 {
	fill: rgba(63,161,255,1);
}
.Ellipse_1 {
	position: absolute;
	overflow: visible;
	width: 8px;
	height: 8px;
	left: 193px;
	top: 750px;
}
#Ellipse_2 {
	fill: rgba(209,209,209,1);
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 8px;
	height: 8px;
	left: 229px;
	top: 750px;
}
#Ellipse_3 {
	fill: rgba(209,209,209,1);
}
.Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 8px;
	height: 8px;
	left: 211px;
	top: 750px;
}
#Group_3 {
	position: absolute;
	width: 430px;
	height: 76px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#title_bar {
	position: absolute;
	width: 430px;
	height: 76px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1 {
	filter: blur(1px);
	fill: rgba(46,46,46,0.85);
}
.Rectangle_1 {
	filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 505px;
	height: 151px;
	left: 0px;
	top: 0px;
}
#logomultiwhite {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 181px;
	top: 29px;
	overflow: visible;
}
#Repeat_Grid_1 {
	position: absolute;
	width: 23px;
	height: 18px;
	left: 379px;
	top: 31px;
	overflow: hidden;
}
#Group {
	position: absolute;
	width: 23px;
	height: 4px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_5 {
	fill: rgba(63,161,255,1);
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Group_b {
	position: absolute;
	width: 23px;
	height: 4px;
	left: 0px;
	top: 7px;
	overflow: visible;
}
#Rectangle_5_b {
	fill: rgba(63,161,255,1);
}
.Rectangle_5_b {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Group_ca {
	position: absolute;
	width: 23px;
	height: 4px;
	left: 0px;
	top: 14px;
	overflow: visible;
}
#Rectangle_5_ca {
	fill: rgba(63,161,255,1);
}
.Rectangle_5_ca {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 4px;
	left: 0px;
	top: 0px;
}
